#drop-zone {
    width: 800px;
    height: 350px;
    border: 2px dashed #333;
    border-radius: 10px;
    text-align: center;
    line-height: 150px;
    color: #aaa;
    font-family: Arial, sans-serif;
    margin: 20px auto;
}

    #drop-zone.dragover {
        border-color: #333;
        color: #333;
        background-color: #f0f0f0;
    }

#file-input {
    display: none;
}
