<div class="modal-dialog  modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="titleModal"></h5>
        </div>
        <div class="modal-body">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <label for="name" class="form-label">Nombre</label>
                        <input type="text" class="form-control" tabindex="1" id="name" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="concentration" class="form-label">Concentración</label>
                        <input type="text" class="form-control" tabindex="2" id="concentration" />
                    </div>
                    <div class="col-md-6">
                        <label for="pharmaceuticalForm" class="form-label">Forma Farmaceutica</label>
                        <select id="pharmaceuticalForm" class="form-control"  tabindex="3">
                            <option value="">Cargando opciones...</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="presentation" class="form-label">Presentacion</label>
                        <input type="text" class="form-control" tabindex="4" id="presentation" />
                    </div>
                    <div class="col-md-6">
                        <label for="price" class="form-label">Precio</label>
                        <input type="text" style="text-align:right" class="form-control" tabindex="5" id="price" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label for="stock" class="form-label">Stock</label>
                        <input type="number" class="form-control" tabindex="6" id="stock" />
                    </div>
                    <div class="col-md-2">
                        <div class="form-check" style="margin-top:40px;">
                            <input class="form-check-input" type="checkbox" id="status" checked />
                            <label class="form-check-label" for="status">
                                Activo
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="saveButton">Guardar</button>
            <button type="button" class="btn btn-secondary" id="closeButton">Cerrar</button>
        </div>

    </div>

</div>
